src/main/mule/mealviewer-sapi-2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="mealviewer-sapi-2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="mealviewer-sapi-2-config" api="mealviewer-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8ff8e23d-c141-4d7b-a3f9-45c52dcc6307" basePath="/api/v4" >
		<http:request-connection protocol="HTTPS" host="api.mealviewer.com" port="443" />
	</http:request-config>
	<flow name="mealviewer-sapi-2-main">
        <http:listener config-ref="mealviewer-sapi-2-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mealviewer-sapi-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mealviewer-sapi-2-console">
        <http:listener config-ref="mealviewer-sapi-2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mealviewer-sapi-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\menu\(schoolName)\(fromDate)\(toDate):mealviewer-sapi-2-config">
        <set-variable value="#[attributes.uriParams.fromDate]" doc:name="Copy_of_Set Variable" doc:id="a3012976-f1a0-4e44-8a8c-ea14ae973e4c" variableName="menuDate" />
		<http:request method="GET" doc:name="Copy_of_Pull Menu" doc:id="588db753-e645-4364-90e2-5f44ed20e06f" config-ref="HTTP_Request_configuration" path='#["/school/" ++ attributes.uriParams.schoolName ++ "/" ++ vars.menuDate  ++ "/" ++ vars.menuDate]' outputMimeType="application/xml">
			<http:headers><![CDATA[#[output application/java
---
{
	"Accept" : "application/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="c39081f1-a2a5-4c2c-ad59-f1444b6b416c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://schemas.datacontract.org/2004/07/MealViewerAPI.Models.Version4
var breakfast_payload = payload.ns0#School.ns0#MenuSchedules.ns0#MenuSchedule.ns0#MenuBlocks[?($.ns0#BlockName == "Breakfast")]
var lunch_payload = payload.ns0#School.ns0#MenuSchedules.ns0#MenuSchedule.ns0#MenuBlocks[?($.ns0#BlockName == "Lunch")]
output application/json
---

{
	menuDate: vars.menuDate,
    BreakfastMenu: breakfast_payload..ns0#Item_Name,
    LunchMenu: lunch_payload..ns0#Item_Name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\school:mealviewer-sapi-2-config">
		<http:request method="GET" doc:name="Request" doc:id="f6100471-209a-4bbe-ab7c-11587240347e" config-ref="HTTP_Request_configuration" path="/physicalLocation/search/wake%20county" outputMimeType="application/xml">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Accept" : "application/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="d83b6aae-0033-49db-a826-4e55fa63a0bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://schemas.datacontract.org/2004/07/MealViewerAPI.Models.Version4
---
payload.ns0#PhysicalLocationList.ns0#Data.*ns0#PhysicalLocation map ( physicalLocation , indexOfPhysicalLocation ) -> {
	school_address: physicalLocation.ns0#Address default "",
	school_name: physicalLocation.ns0#Name default "",
	school_lookup_name: physicalLocation.ns0#PhysicalLocationLookup default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
